html,
body {
  margin: 0;
}

/* nav */
* {
  font-family: "Open Sans", sans-serif;
  color: white;
  letter-spacing: 0.1rem;
  font-size: 12px;
}

.navbar {
  font-weight: bold;
  position: relative;
}

.navbar-brand {
  font-size: 2em;
}

.navbar-nav {
  letter-spacing: 0.1em;
}
@media (min-width: 1200px) {
  .navbar .nav-link {
    text-transform: uppercase;
  }
  .navbar .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid #f3af34;
    margin-bottom: -3px;
  }
}

/* jumbotron */
.jumbotron-fluid {
  background-image: url("../../images/ch3/main-bg.jpg");
  background-size: cover;
  min-height: 960.14px;
  margin-top: -5em;
}

.jumbotron p {
  font-size: 2em;
}

.jumbotron .btn {
  width: 20rem;
  font-size: 1.5rem;
  letter-spacing: 0em;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
}

#main {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 45vh;
}

.fs-6 {
  font-size: 0.5em !important;
}

/* thegame */

.thegame {
  background-image: url("../../images/ch3/the-games-bg.jpg");
  background-size: cover;
  min-height: 1000px;
  max-height: 1440px;
}

.thegame {
  padding-top: 20vh;
}
/* .thegame .col-4 h1 {
  font-size: 5em;
} */

.carousel-slide {
  min-width: 50vh;
}

.thegame .col {
  padding-top: 30vh;
}
.thegame .col-7 {
  padding-top: 7vh;
}

.carousel-indicators .btn {
  width: 1rem;
  height: 1rem;
  margin: 1em;
}

/* features */
.features {
  background-image: url("../../images/ch3/features.jpg");
  background-size: cover;
  min-height: 867px;
  margin-top: -0.1em;
  padding-top: 20vh;
}

.features h3 {
  color: #ffb548;
}
@media (min-width: 768px) {
  .lines {
    height: 9.5rem;
  }
}
@media (min-width: 1020px) {
  .lines {
    height: 8.1rem;
  }
}

/* System Requirements */
.sysreq {
  background-image: url("../../images/ch3/requirements.jpg");
  background-size: cover;
  min-height: 961.17px;
  padding-top: 20vh;
}

.sysreq h2 {
  font-size: 2em;
  color: #ffb548;
}

.sysreq .col-3,
.sysreq .col-6 {
  border: 2px solid rgba(151, 151, 151, 0.5);
  padding: 2em;
}
.sysreq p {
  font-size: 1.5em;
}

/* topscores */
.topscores {
  background-image: url("../../images/ch3/topscores.jpg");
  background-size: cover;
  min-height: 960.16px;
}
.topscores .btn {
  width: 20rem;
  font-size: 1.5rem;
  letter-spacing: 0em;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
}

.left {
  padding-top: 50vh;
}

.right .card-text {
  font-size: 1.2em;
}

.right .card-title {
  color: #ffb548;
}

/* subscribe */
.subscribe {
  background-color: #080a0b;
  background-size: cover;
  min-height: 960.16px;
}

.subscribe img {
  padding-top: 20vh;
}

.subscribe .input-color {
  width: 23rem;
  height: 3.75rem;
  color: #ffb548;
}
.subscribe .btn {
  width: 20rem;
  height: 3.75rem;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
}
.form {
  position: relative;
}
.form input {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
}
.form label {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.2em;

  transition: top 0.3s;
}

.form input:focus ~ label {
  top: -2px;
  font-size: 0.75em;
}

/* footer */
.page-footer {
  background-color: #080a0b;
}

#footer {
  height: 10vh;
}
